<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="org.cru.godtools.tool.cyoa.ui.CyoaActivity"
            android:exported="true"
            android:screenOrientation="@integer/default_screen_orientation"
            android:theme="@style/Theme.GodTools.Tool">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="godtools" />
                <data android:host="${hostGodtoolsCustomUri}" />
                <data android:pathPattern="/tool/cyoa/.*/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
