<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.tract">

    <application>
        <activity
            android:name=".activity.TractActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.GodTools.Tract.Activity.Tract">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/tract_deeplink_host_1" />
                <data android:host="@string/tract_deeplink_host_2" />
                <data android:pathPattern="/.*/kgp.*" />
                <!--<data android:pathPattern="/.*/kgp-us.*" />-->
                <data android:pathPattern="/.*/fourlaws.*" />
                <data android:pathPattern="/.*/satisfied.*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ModalActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.GodTools.Tract.Activity.Modal" />
    </application>
</manifest>
