<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.tract">

    <application>
        <activity
            android:name=".activity.TractActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.GodTools.Tract.Activity.Tract" />

        <activity
            android:name=".activity.ModalActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.GodTools.Tract.Activity.Modal" />
    </application>
</manifest>
