.DS_Store

# standard android ignores
gen/

# gradle project ignores
.gradle/
build/

# Android Studio project ignores
.idea/
*.iml
captures/
out/
local.properties

# Fabric/Crashlytics ignores
com_crashlytics_export_strings.xml
crashlytics-build.properties
fabric.properties
