.DS_Store

# standard android ignores
gen/

# gradle project ignores
.gradle/
build/

# eclipse project ignores
.classpath
.project
.settings/
.wtpmodules
bin/

# Android Studio project ignores
.idea/
*.iml
captures/
out/
local.properties

# Fabric.io properties
fabric.properties
