<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.keynote.godtools.android"
    android:versionCode="20"
    android:versionName="4.1.4"
    android:installLocation="preferExternal">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".snuffy.SnuffyApplication"
        android:theme="@style/SnuffyTheme">
        <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"> -->
        <activity
            android:name="Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SnuffyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainPW"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GodTools"/>
        
        <activity 
            android:name=".PreviewModeMainPW"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GodTools" />

        <activity
            android:name=".SettingsPW"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName=".MainPW"
            android:theme="@style/Theme.GodTools">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.MainPW" />

        </activity>

        <activity
            android:name=".SelectLanguagePW"
            android:label="Select Language"
            android:screenOrientation="portrait"
            android:parentActivityName="org.keynote.godtools.android.SettingsPW"
            android:theme="@style/Theme.GodTools">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.SettingsPW" />

        </activity>

        <activity
            android:name=".everystudent.EveryStudent"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".everystudent.EveryStudentView"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".everystudent.EveryStudentSearchResults"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".everystudent.EveryStudentProvider"
            android:authorities="@string/every_student_authority" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".everystudent.EveryStudentSearchResults" />

        <activity
            android:name=".snuffy.SnuffyAboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SnuffyTheme" />
        <activity
            android:name=".snuffy.SnuffyPageMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" />

        <activity
            android:name=".snuffy.SnuffyHelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".SnuffyPWActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnuffyPageMenuPWActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" />

        <receiver android:name=".notifications.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.keynote.godtools.android" />
            </intent-filter>
        </receiver>

        <service android:name=".notifications.GcmIntentService" />

        <service android:name=".service.BackgroundService"
                 android:exported="false" />

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c6c9eb55214633c5eca4176c06b20bb8fd07a72" />
    </application>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />
    <supports-screens
        android:smallScreens="false"
        android:resizeable="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />



</manifest>