<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.cru.godtools.tract.activity.TractActivity"
            android:exported="true"
            android:screenOrientation="@integer/default_screen_orientation"
            android:theme="@style/Theme.GodTools.Tract.Activity.Tract">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="knowgod.com" />
                <data android:pathPattern="/.*/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="godtools" />
                <data android:host="${hostGodtoolsCustomUri}" />
                <data android:pathPattern="/tool/tract/.*/.*" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://knowgod.com/en/kgp/?useDeviceLanguage=true" />
        </activity>

        <activity
            android:name="org.cru.godtools.tract.activity.ModalActivity"
            android:exported="false"
            android:theme="@style/Theme.GodTools.Tract.Activity.Modal" />
    </application>
</manifest>
