<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.tract">

    <application>
        <activity
            android:name=".activity.TractActivity"
            android:screenOrientation="@integer/default_screen_orientation"
            android:theme="@style/Theme.GodTools.Tract.Activity.Tract">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- HACK: We need to keep the domain hardcoded, otherwise the play store blocks releasing the instant
                     HACK: app because the main app doesn't have an intent-filter that "matches" knowgod.com -->
                <data android:host="knowgod.com" />
                <data android:pathPattern="/.*/fourlaws.*" />
                <data android:pathPattern="/.*/honorrestored.*" />
                <data android:pathPattern="/.*/kgp.*" />
                <!--<data android:pathPattern="/.*/kgp-us.*" />-->
                <data android:pathPattern="/.*/satisfied.*" />
                <data android:pathPattern="/.*/thefour.*" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://knowgod.com/en/kgp/?useDeviceLanguage=true" />
        </activity>

        <activity
            android:name=".activity.ModalActivity"
            android:exported="false"
            android:theme="@style/Theme.GodTools.Tract.Activity.Modal" />
    </application>
</manifest>
