<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="org.cru.godtools.base.ui.firebase.DynamicLinksSpringboardActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="godtools.page.link" />
            </intent-filter>
        </activity>
    </application>
</manifest>
