<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.cru.godtools.article">

    <application>
        <activity
            android:name=".activity.CategoriesActivity"
            android:theme="@style/Theme.GodTools.Tool.AppBar"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.ArticlesActivity"
            android:theme="@style/Theme.GodTools.Tool.AppBar"
            android:parentActivityName=".activity.CategoriesActivity"
            tools:targetApi="jelly_bean" />
    </application>
</manifest>
