<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.feature.tract">

    <application android:name=".GodToolsTractApplication">
        <activity android:name="org.cru.godtools.tract.activity.TractActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://knowgod.com/en/kgp/" />
        </activity>

        <!-- XXX: we need this present for now to work around Crashlytics tooling bugs -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c6c9eb55214633c5eca4176c06b20bb8fd07a72" />
    </application>
</manifest>
