<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.feature.tract">

    <application android:name=".GodToolsTractApplication">
        <!-- XXX: we need this present for now to work around Crashlytics tooling bugs -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c6c9eb55214633c5eca4176c06b20bb8fd07a72" />
    </application>
</manifest>
