<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.keynote.godtools.android">

    <!-- These permissions should be obvious -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Unused permissions, kept around for older android in case we want to start using them again -->
    <uses-permission
        android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:maxSdkVersion="22" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:maxSdkVersion="22" />


    <application
        android:name="org.cru.godtools.GodToolsApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.GodTools2.AppBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AddToolsActivity"
            android:label="@string/title_tools_add"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.ToolDetailsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.LanguageSettingsActivity"
            android:label="@string/title_language_settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.LanguageSelectionActivity"
            android:parentActivityName=".activity.LanguageSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.LanguageSettingsActivity" />
        </activity>

        <activity
            android:name=".activity.TourActivity"
            android:theme="@style/Theme.GodTools2.Activity.Tour" />

        <activity
            android:name="org.cru.godtools.tract.activity.TractActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".everystudent.EveryStudentSearchResults" />

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c6c9eb55214633c5eca4176c06b20bb8fd07a72" />
    </application>
</manifest>
