<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.keynote.godtools.android">

    <supports-screens
        android:resizeable="false"
        android:smallScreens="false"/>

    <!-- These permissions should be obvious -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- might be needed for Notifications -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- used by GcmBroadcastReceiver -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- keep this permission for potential future usage of capturing user location within GrowthSpaces.

         Matt Watts: one question from the Philippines staff asked "how can i know English speaking Filipinos who sign
                     up". This is one possible reason to collect location." -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <application
        android:name=".snuffy.SnuffyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.GodTools">
        <!--<activity-->
            <!--android:name="Splash"-->
            <!--android:screenOrientation="userPortrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".MainPW"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".PreviewModeMainPW"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".SettingsPW"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:parentActivityName=".MainPW"
            android:screenOrientation="userPortrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.MainPW"/>

        </activity>

        <activity
            android:name=".SelectLanguagePW"
            android:label="Select Language"
            android:parentActivityName="org.keynote.godtools.android.SettingsPW"
            android:screenOrientation="userPortrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.SettingsPW"/>

        </activity>

        <activity
            android:name=".everystudent.EveryStudent"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light"/>
        <activity
            android:name=".everystudent.EveryStudentView"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light"/>
        <activity
            android:name=".everystudent.EveryStudentSearchResults"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.GodTools2.AppBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AddToolsActivity"
            android:label="@string/title_tools_add"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.GodTools2.AppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.ToolDetailsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.GodTools2.AppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.LanguageSettingsActivity"
            android:label="@string/title_language_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.GodTools2.AppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.LanguageSelectionActivity"
            android:parentActivityName=".activity.LanguageSettingsActivity"
            android:theme="@style/Theme.GodTools2.AppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.keynote.godtools.android.activity.LanguageSettingsActivity" />
        </activity>

        <activity
            android:name=".activity.TourActivity"
            android:theme="@style/Theme.GodTools2.Activity.Tour" />

        <provider
            android:name=".everystudent.EveryStudentProvider"
            android:authorities="@string/every_student_authority"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".everystudent.EveryStudentSearchResults"/>

        <activity
            android:name=".snuffy.SnuffyAboutActivity"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".snuffy.SnuffyHelpActivity"
            android:screenOrientation="userPortrait"
            android:theme="@android:style/Theme.Dialog"/>

        <activity
            android:name=".SnuffyPWActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.GodTools.Activity.Content"/>
        <activity
            android:name=".SnuffyPageMenuPWActivity"
            android:screenOrientation="userPortrait"
            android:theme="@android:style/Theme.Light"/>

        <receiver
            android:name=".notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.keynote.godtools.android"/>
            </intent-filter>
        </receiver>

        <service android:name=".notifications.GcmIntentService"/>

        <service
            android:name=".service.BackgroundService"
            android:exported="false"/>

        <service
            android:name=".sync.GodToolsSyncService"
            android:exported="false"/>

        <service android:name=".newnew.services.DownloadService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c6c9eb55214633c5eca4176c06b20bb8fd07a72"/>
    </application>
</manifest>
