<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="org.cru.godtools">

    <!-- This permission should be obvious -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Unused permissions, kept around for older android in case we want to start using them again -->
    <uses-permission
        android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <dist:module dist:instant="true" />

    <application
        android:name=".GodToolsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GodTools.AppBar">
        <activity
            android:name="org.keynote.godtools.android.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="@integer/default_screen_orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="knowgod.com" />
                <data android:path="/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity"
            android:screenOrientation="@integer/default_screen_orientation" />

        <activity
            android:name=".ui.tooldetails.ToolDetailsActivity"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity"
            android:screenOrientation="@integer/default_screen_orientation" />

        <activity
            android:name=".ui.languages.LanguageSettingsActivity"
            android:label="@string/title_language_settings"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity"
            android:screenOrientation="@integer/default_screen_orientation" />

        <activity
            android:name=".ui.languages.LanguageSelectionActivity"
            android:parentActivityName=".ui.languages.LanguageSettingsActivity"
            android:screenOrientation="@integer/default_screen_orientation" />

        <activity
            android:name=".tract.activity.TractActivity"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity" />

        <activity
            android:name=".tutorial.activity.TutorialActivity"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/profile_title"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity" />

        <!-- Disable the built-in WorkManagerInitializer -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
