<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.account">

    <application>
        <service
            android:name="me.thekey.android.accounts.TheKeyAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_godtools" />
        </service>
    </application>
</manifest>
