<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.everystudent">

    <application>
        <activity
            android:name="org.keynote.godtools.android.everystudent.EveryStudentSearchResults"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.keynote.godtools.android.everystudent.EveryStudentView"
            android:label="@string/app_name_everystudent"
            android:theme="@android:style/Theme.Light" />

        <provider
            android:name="org.keynote.godtools.android.everystudent.EveryStudentProvider"
            android:authorities="@string/every_student_authority" />
    </application>
</manifest>
