<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.tutorial">

    <application>
        <activity
            android:name=".activity.TutorialActivity"
            android:screenOrientation="@integer/default_screen_orientation"
            android:exported="false"
            android:theme="@style/Theme.GodTools.Activity.Tutorial" />
        <activity
            android:name=".activity.YoutubePlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.GodTools.Modal" />
    </application>
</manifest>
