<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.cru.godtools.tool.lesson.ui.LessonActivity"
            android:exported="true"
            android:screenOrientation="@integer/default_screen_orientation"
            android:theme="@style/Theme.GodTools.Tool.Activity.Lesson">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="godtoolsapp.com" />
                <data android:pathPattern="/deeplink/tool/lesson/.*/.*" />

                <!-- Legacy Lesson Deep Link pattern -->
                <data android:pathPattern="/lessons/.*/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="godtools" />
                <data android:host="${hostGodtoolsCustomUri}" />
                <data android:pathPattern="/tool/lesson/.*/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
