<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cru.godtools.tool.lesson">

    <application>
        <activity
            android:name=".ui.LessonActivity"
            android:exported="true"
            android:parentActivityName="org.keynote.godtools.android.activity.MainActivity"
            android:screenOrientation="@integer/default_screen_orientation"
            android:theme="@style/Theme.GodTools.Tool.Activity.Lesson">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="godtoolsapp.com" />
                <data android:pathPattern="/lessons/.*/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
