name: OneSky Translation Upload

on:
  push:
    branches: [develop]

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  upload:
    name: Upload Latest Strings to OneSky
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version-file: ".java-version"
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ONESKY_ROLE_ARN }}
          aws-region: us-east-1
      - name: Import OneSky Keys
        uses: dkershner6/aws-ssm-getparameters-action@v2
        with:
          parameterPairs: |
            /shared/onesky/PUBLIC_KEY = ORG_GRADLE_PROJECT_ONESKY_API_KEY,
            /shared/onesky/SECRET_KEY = ORG_GRADLE_PROJECT_ONESKY_API_SECRET
      - name: Upload Strings to OneSky
        uses: gradle/gradle-build-action@v3
        with:
          arguments: uploadTranslations --scan
